{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Timetable</title>
  <meta name="description" content="Timetable">
</head>
<body>
    <h1>Timetable</h1>
    <table border=1>
        {% for row in data %}
            <tr>
            {% for cell in row %}
                <td rowspan="{{ cell.0 }}" colspan="{{ cell.1 }}" width="{{ cell.3 }}">
                    {{ cell.2 }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
