{% load i18n %}
{% spaceless %}
{% trans "Start" %}:
{% for widget in widget.subwidgets|slice:":2" %}
<select style="width:100px;margin:0 10px;" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
{% endfor %}
{% trans "End" %}:
{% for widget in widget.subwidgets|slice:"2:4" %}
<select style="width:100px;margin:0 10px;" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
{% endfor %}
{% endspaceless %}
